on:
  push:
    branches:
      - main
    paths:
      - "**.rs"
      - Cargo.toml
      - Cargo.lock
      - .github/workflows/cargo-build.yml
      - rust-toolchain.toml
      - "openapi/*.json"
  pull_request:
    paths:
      - "**.rs"
      - Cargo.toml
      - Cargo.lock
      - .github/workflows/cargo-build.yml
      - rust-toolchain.toml
      - "openapi/*.json"
permissions: read-all
name: cargo build
jobs:
  cargobuild:
    name: cargo build
    runs-on: ubuntu-latest-8-cores
    env:
      # This envvar is here to prevent `ring` from failing due to a
      # glibc linking error. I don't know why this fixes it and I can't
      # be bothered to dig in right now.
      #
      # Remove this when it no longer FTBFS on `ring` in CI.
      CARGO_PROFILE_TEST_BUILD_OVERRIDE_DEBUG: true
    steps:
      - uses: actions/checkout@v5
      - uses: actions-rust-lang/setup-rust-toolchain@v1
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            libudev-dev
        shell: bash
      - name: Run cargo build
        run: |
          cargo build --workspace
        shell: bash
