on:
  push:
    branches:
      - main
    paths:
      - "**.rs"
      - "engine"
      - "rust-toolchain"
      - "rust-toolchain.toml"
      - .github/workflows/cargo-fmt.yml
  pull_request:
    paths:
      - "**.rs"
      - "rust-toolchain"
      - "rust-toolchain.toml"
      - .github/workflows/cargo-fmt.yml
      - "engine"
permissions:
  packages: read
  contents: read
name: cargo fmt
jobs:
  cargofmt:
    name: cargo fmt
    runs-on: ubuntu-latest
    env:
      # This envvar is here to prevent `ring` from failing due to a
      # glibc linking error. I don't know why this fixes it and I can't
      # be bothered to dig in right now.
      #
      # Remove this when it no longer FTBFS on `ring` in CI.
      CARGO_PROFILE_TEST_BUILD_OVERRIDE_DEBUG: true
    steps:
      - uses: actions/checkout@v6
      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          components: rustfmt
          rustflags: "" # use our .cargo/config.toml
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            libudev-dev
        shell: bash
      - name: Run cargo fmt
        run: |
          cargo fmt -- --check
        shell: bash
